<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pgtitle}}</title>
  </head>
  <body>
{{> header}}
<p>This Text is from project file</p>
{{> footer}}
  </body>
</html>
